# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
venv/
env/
.venv/
.env/

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Ray Tracing output files
*.bmp
output.*

# Jupyter Notebook
.ipynb_checkpoints
